*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: #1b1c1d;
}

header {
    background-color: #0f0f0f;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1;

    height: 7vh;
    width: 100vw;
}

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100vw;
    }
        .nom {
            color: #15ff00;
            font-size: 3rem;
            font-weight: bold;
        }
        .prenom {
            color: #fff;
            font-size: 3rem;
            font-weight: bold;
        }

        .menu {
            display: flex;
            gap: 3rem;

            list-style: none;

            font-size: 2rem;
            font-weight: bold;

            cursor: pointer;
        }
            .menu li a{
                color: #fff;
            }
            .menu li a:hover {
                color: #15ff00;
                border-bottom: #15ff00 solid 2px;
            }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: auto;   
    width: 100vw;

    padding: 5rem;
}

    .presentation {
        display: flex;
        justify-content: center;
        align-items: center;

        height: auto;
        width: 100vw;

        padding: 5rem;
        gap: 10rem;
    }
        .presentation-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            height: auto;
            width: 50vw;   
        }
            .presentation-content h1 {
                color: #ffffff;
                font-size: 6.5rem;
                font-weight: bold;

                text-align: start; 
                display: flex;
                gap: 2rem;
            }
            .wobble-hor-bottom:hover {
	        animation: wobble-hor-bottom 0.8s both;
            cursor: pointer;
            }   
            @keyframes wobble-hor-bottom {
            0%,
            100% {
                        transform: translateX(0%);
                        transform-origin: 50% 50%;
            }
            15% {
                        transform: translateX(-30px) rotate(-6deg);
            }
            30% {
                        transform: translateX(15px) rotate(6deg);
            }
            45% {
                        transform: translateX(-15px) rotate(-3.6deg);
            }
            60% {
                        transform: translateX(9px) rotate(2.4deg);
            }
            75% {
                        transform: translateX(-6px) rotate(-1.2deg);
            }
            }
            .prenom_2 {
                color: #15ff00;
            }
            .presentation-content h2 {
                color: #fafafa;
                font-size: 3.5rem;
                font-weight: bold;

                padding: 2rem 0;
                text-align: start; 
            }
            .presentation-text {
                color: #fff;
                font-size: 2.2rem;

                padding-bottom: 2rem;
            }
            strong {
                color: #15ff00;
            }
            .presentation-content ul {
                display: flex;
                gap: 2rem;  

                list-style: none;              

                font-size: 2.2rem;     
            }
            .presentation-content li {
                cursor: pointer;
                height: 4rem;
                width: 4rem;
            }
            .presentation-content li a {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 4rem;
                width: 4rem;

                color: #15ff00;
                border: #15ff00 solid 0.4rem;
                border-radius: 50%;
            }
            .presentation-content li a:hover {
                color: #ffffff;
                border: #fff solid 0.4rem;
            }
        .image-profil {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 35vh;
            width: 35vh;
            border-radius: 50%;
            box-shadow: #15ff00 0px 0px 20px 3px;
            background-image: url(../img/antho2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

.competences {
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100vw;

    padding: 10rem;
}
    .competences-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: auto;
        width: 50vw;   

        background-color: #252525;

        padding: 2rem;
        border-radius: 10px;
    }
    .competences h2 {
        color: #15ff00;
        font-size: 4rem;
        font-weight: bold;

        padding-bottom: 2rem;
    }

        .grid-container {
                display: grid;
                column-gap: 3rem;
                grid-template-columns: 23vw 23vw;
            }
            .grid-item {
                background-color: rgba(49, 49, 49, 0.8);
                font-size: 30px;
                text-align: center;

                border-radius: 5px;
            }
            .carte {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                height: auto;       
                width: auto;  
                
                padding-top: 2rem;
            }
            .carte img {      
                width: 70%;    
            }
            .carte h3 {
                color: #fff;       
                font-size: 2rem;
                
                padding: 1rem 4rem 2rem;
            }
            .card-content {
                color: #fff;           
                width: 100%;

                padding: 0 2rem 2rem 2rem;
            }   
            .card-content p {
                font-size: 1.5rem;
                text-align: start;

                padding: 0rem 1rem 0.5rem;
            }

.projets {
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100vw;
}
    .projet-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: auto;
        width: 75vw;   

        background-color: #252525;

        padding: 2rem;
        border-radius: 10px;
    }
    .projets h2 {
        color: #15ff00;
        font-size: 4rem;
        font-weight: bold;

        padding-bottom: 2rem;
    }

        .grid-container-projet {
                display: grid;
                column-gap: 3rem;
                grid-template-columns: 23vw 23vw 23vw;
            }
            .grid-item {
                background-color: rgba(49, 49, 49, 0.8);
                font-size: 30px;
                text-align: center;

                border-radius: 5px;
            }
            .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                height: auto;       
                width: auto;  
                
                padding-top: 2rem;
            }
            .card img {      
                width: 50%;    
            }
            .card h3 {
                color: #fff;       
                font-size: 2rem;
                
                padding: 1rem 4rem 2rem;
            }
            .card-content {
                color: #fff;           
                width: 100%;

                padding: 0 2rem 2rem 2rem;
            }   
            .card-content p {
                font-size: 1.5rem;
                text-align: start;

                padding: 0rem 1rem 0.5rem;
            }
            .voir-plus {
                display: flex;
                justify-content: center;
                align-items: center;    

                color: #fff;
                font-size: 2rem;

                margin-top: 2rem; 
            }
            .voir-plus:hover {
                color: #15ff00;
                border-bottom: #15ff00 solid 2px;
            }