*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Quantico', sans-serif !important;
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth !important;
    font-size: 62.5% !important; /* 1rem = 10px */
}

body {
    background-color: #1b1c1d !important;
}

header {
    background-color: #0f0f0f;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1;

    height: 7vh;
    width: 100vw;
}

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100vw;
    }
        .nom {
            color: #15ff00;
            font-size: 3rem;
            font-weight: bold;
        }
        .prenom {
            color: #fff;
            font-size: 3rem;
            font-weight: bold;
        }

        .menu {
            display: flex;
            gap: 3rem;

            list-style: none;

            font-size: 2rem;
            font-weight: bold;

            cursor: pointer;
        }
            .menu li a{
                color: #fff;
            }
            .menu li a:hover {
                color: #15ff00;
                border-bottom: #15ff00 solid 2px;
            }

.container-fluid {
    padding: 12rem 0 12rem 0 !important;
}   
    .presentation {
        background-color: #252525 !important;
    }
        h1  {
            color: #15ff00 !important;
            font-size: 3.5rem !important;
            font-weight: bold !important;
            padding: 4rem 0 2rem 0 !important;

            text-align: center;
        }
        .presentation-text {
            color: #fff !important;
            font-size: 2rem !important;

            padding: 1rem 4rem 1rem 4rem !important;
        }
        
        .presentation-text-3 {
            color: #fff !important;
            font-size: 2rem !important;

            padding: 1rem 4rem 4rem 4rem !important;
        }
